{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Guitarras</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Orígenes: </h1>
                <p>Las guitarras tienen una larga historia que se remonta a civilizaciones antiguas. Los primeros antecedentes de guitarras se pueden encontrar en instrumentos de cuerda de la antigua Mesopotamia, Egipto, Grecia y Roma. Sin embargo, las guitarras modernas se desarrollaron en Europa durante la Edad Media.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/lupier.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Guitarras</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Guitarra Criolla:</h1>
                <p>La guitarra española, también conocida como guitarra clásica, es uno de los tipos más reconocidos de guitarras. Se cree que se desarrolló en España durante el siglo XVIII. Su diseño y construcción se atribuyen en gran parte a Antonio de Torres Jurado, un luthier español famoso del siglo XIX. Su diseño ha influido en la fabricación de guitarras clásicas en todo el mundo.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/guitarra-clasica-yamaha-c70.jpg' %}" alt="Guitarra Española" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Guitarras</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Guitarra Acústica: </h1>
                <p>Las guitarras acústicas son similares a las guitarras clásicas en términos de diseño, pero a menudo se asocian con géneros musicales populares y folk. La empresa estadounidense C.F. Martin & Company, fundada en 1833 por Christian Frederick Martin, desempeñó un papel importante en la popularización de las guitarras acústicas modernas.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/acusticaguitarra.jpg' %}" alt="Guitarra Acustica" width="170">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Guitarras</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Guitarra Eléctrica: </h1>
                <p>La guitarra eléctrica se desarrolló a principios del siglo XX y revolucionó la música popular. Leo Fender y Les Paul son dos de los nombres más influyentes en la invención y desarrollo de las guitarras eléctricas. Fender fundó la empresa Fender Electric Instrument Company, que creó la icónica Fender Stratocaster y Telecaster. Les Paul, por su parte, trabajó con Gibson para desarrollar la Gibson Les Paul.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/rickenbacker_xFrXDz5.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}

