{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Pedal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Pedal Overdrive:</h1>
                <p>El pedal de overdrive agrega una saturación suave al sonido de la guitarra, emulando el tono cálido y ligeramente distorsionado de los amplificadores de válvulas saturados. Es ideal para el blues y el rock clásico. Ejemplos populares incluyen el Tube Screamer de Ibanez y el OCD de Fulltone.</p>
            </div>
            <div class="col-md-6">
                <br>
                <img src="{% static 'imagenes/onedrive12.jpg' %}" alt="Guitarra Electrica" width="150">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Pedal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Pedal Distorsión:</h1>
                <p>A diferencia del overdrive, la distorsión produce una saturación más intensa y agresiva. Es común en géneros de rock y metal. Pedales como el Pro Co Rat y el Boss DS-1 son ejemplos notables.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/distorsion12.jpg' %}" alt="Guitarra Española" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Pedal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Pedal Fuzz:</h1>
                <p>El pedal de fuzz crea una distorsión altamente saturada y comprimida. Es famoso por su uso en música psicodélica y rock de los años 60. El Big Muff de Electro-Harmonix es uno de los fuzz más icónicos.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/fuzz12.jpg' %}" alt="Guitarra Acustica" width="270">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Pedal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Ecualizador (EQ):</h1>
                <p>Los pedales de ecualización permiten ajustar la respuesta de frecuencia del sonido para realzar o atenuar ciertos rangos. El Boss GE-7 es un ecualizador popular.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/ecualizador12.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}

