{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Amplificadores</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Amplificador de Potencia:</h1>
                <p>Su función principal es aumentar la amplitud de una señal de entrada sin distorsionarla significativamente. Se utilizan en sistemas de sonido para alimentar altavoces.
                Los amplificadores de potencia se clasifican en diferentes clases, como Clase A, Clase B, Clase AB y Clase D, que tienen diferencias en eficiencia y distorsión.</p>
            </div>
            <div class="col-md-6">
                <br>
                <img src="{% static 'imagenes/mg15fx.jpg' %}" alt="Guitarra Electrica" width="170">

            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Amplificadores</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Amplificador de Audio:</h1>
                <p> Están diseñados específicamente para amplificar señales de audio, como las de un reproductor de música, micrófono o instrumento musical.
                    Se utilizan en sistemas de sonido, amplificadores de guitarra, amplificadores de auriculares, etc.</p>
            </div>
            <div class="col-md-6">
                <br>
                <img src="{% static 'imagenes/112medium.jpg' %}" alt="Guitarra Española" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Amplificadores</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Amplificador de Guitarra: </h1>
                <p> Amplifica la señal de una guitarra eléctrica o acústica (equipada con pastillas eléctricas) para producir un sonido más fuerte y adecuado para su audición a través de un altavoz. Además de la amplificación, los amplificadores de guitarra también pueden tener funciones adicionales, como ecualización, control de efectos y distorsión para modificar el tono y la textura del sonido de la guitarra.
                    Los amplificadores de guitarra son esenciales para los músicos que desean amplificar su sonido en vivo o en estudio y ajustar su tono para adaptarse a diferentes géneros musicales y preferencias personales. Estos amplificadores son una parte fundamental del equipo de cualquier guitarrista y contribuyen significativamente a su expresión artística y sonido característico.</p>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <img src="{% static 'imagenes/fenderamp.jpg' %}" alt="Guitarra Acustica" width="170">
            </div>
        </div>
    </div>
</body>
</html>


{% endblock %}

