{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Teclados</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Teclados electrónicos:</h1>
                <p>Los teclados electrónicos se popularizaron en la segunda mitad del siglo XX. Incluyen una variedad de instrumentos como el órgano electrónico, el piano digital y el teclado controlador. Yamaha, Casio, Roland y Korg son conocidos por su producción de teclados electrónicos.</p>
            </div>
            <div class="col-md-6">
                <br>
                <img src="{% static 'imagenes/electronicos12.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Teclados</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Teclado Sintetizador:</h1>
                <p>Los sintetizadores electrónicos surgieron en el siglo XX. Robert Moog es uno de los nombres más influyentes en el desarrollo de sintetizadores. Moog Music, Roland, Korg y Yamaha son algunas de las principales compañías que fabrican sintetizadores.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/sintetizador12.jpg' %}" alt="Guitarra Española" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Teclados</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Piano:</h1>
                <p>El piano moderno evolucionó a partir del clavicémbalo y el fortepiano en el siglo XVIII. A lo largo del tiempo, se ha convertido en uno de los instrumentos más populares en todo el mundo. Steinway & Sons, Yamaha, y Bosendorfer son algunas de las empresas más conocidas en la fabricación de pianos.
                    </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/piano12.jpg' %}" alt="Guitarra Acustica" width="170">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Teclados</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Teclado MIDI:</h1>
                <p>El estándar MIDI (Interfaz Digital de Instrumentos Musicales) se desarrolló en la década de 1980 como un protocolo para la comunicación entre instrumentos musicales electrónicos y computadoras. No hay fabricantes específicos de teclados MIDI, ya que MIDI es un estándar utilizado en una variedad de instrumentos y dispositivos.</p>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <img src="{% static 'imagenes/midi12.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}

