{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Bajos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Bajo Eléctrico de 4 Cuerdas (Bass Guitar): </h1>
                <p>Este es el tipo más común de bajo eléctrico.
                    Por lo general, tiene cuatro cuerdas afinadas de manera estándar a las notas E, A, D y G, de la más grave a la más aguda.
                    Es versátil y se utiliza en una amplia variedad de géneros musicales, desde rock y pop hasta jazz y funk.
                    Ejemplo icónico: Fender Precision Bass (P-Bass).</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/fenderelectrico.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Bajos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Bajo Eléctrico de 5 Cuerdas:</h1>
                <p>Similar al bajo de 4 cuerdas, pero con una cuerda adicional que generalmente está afinada a una nota B.
                    Esto amplía el rango tonal del bajo y lo hace adecuado para estilos que requieren notas más graves, como el metal y el jazz fusion.
                    Ejemplo icónico: Music Man StingRay 5.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/electrico5cuerdas.jpg' %}" alt="Guitarra Española" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Bajos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Bajo Eléctrico de 6 Cuerdas:</h1>
                <p>Tiene seis cuerdas en lugar de cuatro o cinco, lo que proporciona un rango aún mayor.
                    A menudo se utiliza en estilos de música progresiva y de fusión donde se necesitan notas graves extendidas.
                    Ejemplo icónico: Ibanez BTB676.</p>
            </div>
            <div class="col-md-6">
                <br>
                <img src="{% static 'imagenes/6cuerdass.jpg' %}" alt="Guitarra Acustica" width="250">
            </div>
        </div>
    </div>
</body>
</html>
<br>
<!DOCTYPE html>
<html>
<head>
    <title>Bajos</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Bajo Acústico:</h1>
                <p>A diferencia del bajo eléctrico, el bajo acústico tiene una caja de resonancia y no requiere amplificación para ser escuchado en situaciones acústicas.
                    Se utiliza comúnmente en géneros como el folk, el country y la música acústica.
                    Ejemplo icónico: Martin BCPA4.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/acusticobajo.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}

