{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Baterias</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Baterías Acústica:</h1>
                <p> La batería tradicional o acústica consiste en una combinación de tambores (bombo, caja, toms) y platillos (charles, crash, ride) que se tocan con baquetas. Es ampliamente utilizada en una variedad de géneros musicales, como el rock, el jazz, el blues y el pop.</p>
            </div>
            <div class="col-md-6">
                <br>
                <img src="{% static 'imagenes/acusticabateria.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Baterias</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Batería de Cajón: </h1>
                <p>El cajón es un instrumento de percusión de origen peruano que se toca golpeando la parte frontal de la caja de madera con las manos o baquetas. Se utiliza en música flamenca, música latina y otros géneros.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/cajon.jpg' %}" alt="Guitarra Española" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Baterias</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Batería de Percusión Latina:</h1>
                <p> Incluye instrumentos de percusión tradicionales de América Latina, como congas, bongos, timbales y maracas. Se utilizan en géneros como la salsa, la rumba, el son cubano y la música afrocubana.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/percusionlatina1.jpg' %}" alt="Guitarra Acustica" width="170">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Baterias</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Batería de Tamborines:</h1>
                <p> Los tamborines son instrumentos de percusión que consisten en un marco circular con platillos o cascabeles en su interior. Se tocan agitando o golpeando el tamborín con la mano y se utilizan en una variedad de géneros, desde música folclórica hasta música pop y rock.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/bateriatamborines.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}

