{% extends 'home.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>saxofon</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Saxofón:</h1>
                <p> El saxofón fue inventado por Adolphe Sax en la década de 1840 en Bélgica. El saxofón se desarrolló como una familia de instrumentos de viento de metal y se utiliza comúnmente en géneros musicales como el jazz, el blues y la música clásica.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/saxofon12.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Violín</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Violín:</h1>
                <p>Los violines se han fabricado durante varios siglos en todo el mundo. Los fabricantes de violines famosos incluyen a Antonio Stradivari y Guarneri del Gesù, quienes vivieron en el siglo XVII y XVIII. El violín es uno de los instrumentos de cuerda más antiguos y se usa en una variedad de géneros, desde música clásica hasta folclore.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/violin12.jpg' %}" alt="Guitarra Española" width="170">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Trompeta</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Trompeta:</h1>
                <p> Las trompetas se han fabricado desde la antigüedad, pero las versiones modernas se desarrollaron en la Edad Media. La trompeta es un instrumento de viento-metal utilizado en bandas de música, orquestas y géneros como el jazz.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/trompeta12.jpg' %}" alt="Guitarra Acustica" width="170">
            </div>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>Acordeón</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <h1>Acordeón:</h1>
                <p>El acordeón moderno se desarrolló en el siglo XIX y fue patentado por Cyrill Demian en 1829. El acordeón es un instrumento de viento con teclas y botones, y se utiliza en géneros como la música folklórica, el tango y la música popular.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/acordeon12.jpg' %}" alt="Guitarra Electrica" width="250">
            </div>
        </div>
    </div>
</body>
</html>




{% endblock %}

